.galleryRowItem{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    z-index: 1;
}

.photo-text-more{
    position: absolute;
    //z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    width: 100%; /* Set the width of the positioned div */
    opacity: 0;
    visibility: hidden;
}
.galleryRowItem:hover .photo-text-more {
    color: white;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0,0,0,.3);
    border-radius: 20px;
}
